.chart-wrapper {
  padding: 2%;
  display: inline-block;
}

.bar.chart-wrapper {
  width: 70%;
}
.small.chart-wrapper {
  width: 40%;
}

.tiny.chart-wrapper {
  width: 25%;
}

.big.chart-wrapper {
  width: 70%;
}

.Page_Main_Content {
  position: relative;
  left: 18.05%;
  top: 2vh;
}

.Plans_Card_Dashboard{
  position: relative;
  width: 80%;
  left: 1%;
}

.plan_card_attributes{
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.spacer{
  position: relative;
  left: 5%;
}