.Details_Page{
    height: 100%;
    width: 100%;
}

.Details_Page_Main_Content{
    position: relative;
    left: 18.05%;
    top: 2vh;
}

.Details_Page_Heading{
    position: fixed;
    left: 21%;
    top: 5vh;
    font-family: sans-serif;
    font-size: 3.8vh;
    color: #333333;
}

.Details_Page_Radio_Buttons_Layout{
    display: flex;
    flex-direction: row;
}

.Details_Page_Radio_Buttons_Column{
    position: relative;
    left: 4%;
    padding-right: 12%;
    top: 12vh;
}

.Details_Page_Radio_Buttons_Column_Heading{
    display: flex;
    flex-direction: row;
}

.Details_Page_SubHeading{
    position: relative;
    top: 1.6vh;
    font-family: sans-serif;
}

.Details_Page_List{
    display: flex;
    flex-direction: column;
}

.space {
    position: relative;
    padding-top: 2vh !important;
}

.Details_Page_List_Item{
    position: relative;
    top: 2vh;
}

.Details_Page_Collapse{
    position: relative;
    top: 6vh;
}

.Details_Page_Submit{
    position: relative;
    top: 17vh;
    left: 35%;
    padding-top: 5vh;
}

.Dash_Page_Divider{
    position: relative;
    top: 3.5vh;
  }