.Login_Bg{
    position: fixed;
    top: 0px;
    left:0px;
    height: 100%;
    width: 100%;
    background-image:    
    linear-gradient(to bottom, rgba(106, 130, 251, .7), rgba(252, 92, 125, .7)),
    url('./../sidebar-4.jpg');
    background-size: contain;
}

.Login_Heading {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0.03em;
    font-size: 2rem;
    color: #ffffff;
}

.Login_Card {
    position: relative;
    left:20%;
    width: 60%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    flex-direction: column;
}

.Login_Fields{
    padding-top: 3vh;
    padding-bottom: 3vh;
}